/*.logo{
  background-color:black;
  width:50px;
  height:50px;

  
}*/

/*background-color:#f4f4f4;
color:#666;

background-color:#282e34;
color:#ddd;*/



@import url(https://fonts.googleapis.com/css?family=Raleway);

$fontBrown: #413F3F;

*{
  box-sizing: border-box;
}
body{
  margin:0px;
  padding:0px;
  font-family:Raleway;
  //color:black;
}

//Start home page
//just a change

.nav-container{
  width: 100%;
  height: 60px;
  background: #0000003f;
}

.logo{
  position:absolute;
  left:1.5em;
  top: -.2em;
  width:25px;
  height:25px;
  //background-color:black;
  margin:1em;
  transform:rotate(45deg);
  box-shadow: 2px 2px 0 0 rgb(196, 236, 250);
  border-radius: .3em;

  p{
    position: relative;
    top: -1em;
    left: .3em;
    font-size: 10px;
    color: white;
    transform: rotate(315deg);
    span:last-child{
      position: relative;
      top: .4em;
      left: -.2em;
    }
  }
}

nav{
  position:absolute;
  right:0;
  width:50px;
  height:50px;
  //background-color:black;
  margin:1em;
}

i{
  color: white;
  font-size:30px;
}

.container-hero-image{
  position:absolute;
  background-image: url("/Portfolio-xd-version-html/img1.jpg");
 // background-image: url("https://res.cloudinary.com/dujhdvriy/image/upload/v1542335525/IMG_2315-2.jpg");
  background-repeat: no-repeat;
  background-position:-0% 75%;
  background-size: 597.3px 798.094px;
  width:100%;
  height:550px;
  top:0;
  z-index:-1;
 // background: rgba(200, 54, 54, 0.1);
//background-color:#707070;
  opacity:.6;
}

.container-hero-opacity{
  position:absolute;
  background-color:#000000;
  //cool blue color #707070
  width:100%;
  height:550px;
  top:0;
  z-index:-1;
  opacity: .90;
}

main{
  
  height:250px;
  margin-left:40px;
  
  
     span{
       color:#00CFEA;
     }
   p{
    padding:0px;
    margin-top:0em;
    margin-bottom:2em;
     color:white;
     font-weight:600;
     font-size:16px;
      font-weight:400;
     /*span{
       color:#00CFEA
     }*/
   }
  
   .btn{
     box-shadow: 1px 1px 1px 1px;
     border-left: 2px solid #00E2FF;
          border-right: 2px solid #00E2FF;
          border-bottom: .1px solid #00E2FF;
          border-top: 1px solid #00E2FF;
     padding: .5em 6em .5em 6em;
     border-radius: 10px;
     color:white;
     font-size:20px;

     text-decoration:none;
    }
  
   .h1-container{
      display:flex;
     flex-direction:column;
 // justify-content:center;
 // height:600px;
  //margin-left:70px;
      margin-top:150px;
     
        h1{
         // width:100%
          display:block;
          color: rgb(5, 255, 255);
          //cool blue color rgb(93, 241, 252);
        font-size:30px;
// float:left;
          margin:0em;
          margin-top: -.1em;
          padding: 0em;
          font-weight:400;
          border-left: 1px solid white;
          
          padding-left:.3em;
        }
        h1:last-child{
          border-bottom: 1px solid white;
          border-width: .08em;
          padding-bottom: .3em;
          width: 240px;
          border-radius: .07em;
        }
    }
}

//end home page


//start about me page

.container-about-me{
  margin-top:6.26em;
  // background-color:black;
  margin-bottom:6em;

    p{
      color:#413F3F;
    font-size:14px;
    margin-right:2em;
    margin-left:2em;
      text-align:center;
       font-weight:400;
  }
}

.section-head-brown{
  width:100%;
  text-align:center;
  margin-top:4.3em;
  color:#413F3F;
  font-size:30px;
   font-weight:400;
}

.bold{
  color:#00CFEA;
}

//end about me page


.container-what-i-do{
  width: 100%;
//background: linear-gradient(#00CFEA, #006875);
  height:1500px;
  opacity:.87;
  //display:flex;
  //flex-direction: column;

  h1{
    width:100%;
    text-align:center;
    margin-top:1em;
    color: white;
    //color: rgb(5, 255, 255);
    font-size:30px;
     font-weight:400;
     z-index: 1;
     opacity: 1;
  }
}

.project-hero-image-container{
  position:absolute;
  background-color:#0000008a;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  height: 1500px;
 
  opacity: 1;
}

.project-opacity-container{
  position: absolute;
  background-image: url("/img2.jpg");
width: 100%;
height: 1500px;
background-size: 597.3px 798.094px;
opacity: 10;
z-index: -1;
}

.project-main-content-container{

  width: 100%;
  //background: blue;
  height: 100%;
  margin: 0%
}
.project-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
 
 // background-color: red;
}

.parent{
  width: auto;
  
display: flex;
flex-direction: column;

}

.project-content-container .project-cols {
  width: 300px;
  height: 400px;
  background-color: red;
display: flex;
justify-content: center;
margin: 1em;
background: #000000fd;
}



//start section 3
.four{
position: relative;

top: -1.6em;
height: 225px;
  background: #ebebeb;

  .promo-container{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3{
    margin-left: .58em;
    margin-right: .58em;
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
  }

  button{
    padding: .8em;
    background-color: #413F3F;
    box-shadow: 1px 1px 1px 1px #000000fd;
    border-radius: .3em;

    font-size: 16px;
    color: white;
  }

  button:hover{
    background-color: white;
    color: #413F3F;
  }

  div{
    text-align: center;
    margin-top:0em; 

    .arrow{
      font-size: 24px;
      margin: 1em;
    }
  }
}



//start section 5

.five{
  display: flex;
  justify-content: space-around;
height: 75px;
  img{
    width: 50px;
    height: 50px;
    border-radius: 10em;
  }
}

//end section 5

//start footer

footer{
  height: 200px;
  background-color: #000000d0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    
  }
  p:nth-of-type(2){
    font-size: 12px;
    color: #6868688a;
  }

  button{
    width: 250px;
    height: 40px;
    border-radius: .8em;
    margin-bottom: .8em;
    border: 1px solid black;
    background-color: transparent;
    color: #6868688a;
  }
  button:hover{
    background-color: #00E2FF;
    color: #413F3F;
  }
}

//end footer